.editUserForm {
    margin-bottom: 50px;
}

.cascading-right {
    margin-right: -50px;
}

.marginImage {
    margin-top: 12%;

}

.Buttons:hover {
    background-color: #3c297b;
    color: #F0E494;
}

.imageCol {
    margin-left: 10%;

}

.editUserForm {
    margin-bottom: 10vh;
}