.RegisterForm {
    margin-bottom: 50px;
}

.cascading-right {
    margin-right: -50px;
}


.cascading-right {
    margin-right: 0;
}


.marginImage {
    margin-left: 18px;

}

.Buttons:hover {
    background-color: #3c297b;
    color: #F0E494;
}