.RegisterForm {
    margin: 50px 0 200px 0;
}

.cascading-right {
    margin-right: 0;
}

.marginImage {
    margin-left: 50px;

}

.Buttons:hover {
    background-color: #3c297b;
    color: #F0E494;
}