.personalInfo {
    background-color: rgb(95, 68, 100);
    padding: 50px 30px 40px 30px;
    margin: 20px 0px 20px 20px;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
}

.personalInfo2 {
    background-color: rgb(95, 68, 100);
    border-end-end-radius: 5%;
    border-top-right-radius: 5%;
    padding: 65px 30px 40px 30px;
    color: rgb(239, 227, 147);
    margin: 20px 10px 20px 0px;
}

.userAvatar {
    height: 250px;
    object-fit: cover;
    padding: 10px;
    border-radius: 8%;
    margin-left: 25%;
}

.decorationLog {

    margin-top: 20px;

}