.Buttons:hover {
    background-color: #3c297b;
    color: #F0E494;
}

.buttons {
    margin-top: 80px;

}

.detailImage {
    width: 80%;
}

.box {
    margin-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 100vh;
}

.detailName {
    color: #F0E494
}