.form {
    font-size: 20px;
    background-color: #e4e4e4;
    margin: 50px 150px 0px 150px;
    padding: 60px 0px 50px 0px;
    border-radius: 6%;

}

.form .dot {
    color: red;
    display: inline;
}

.form .required {
    display: inline;
}