.NavBar {
    background-color: #3c297b;

}

.nav-link {
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    flex-grow: 1;
    margin-left: 25px;
}

.NavImage {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}