.LandingPage {
    height: 100vh;
    background-image: url(https://64.media.tumblr.com/bedc13d74c349face65439cf16de7a8f/151be060c4113eab-70/s540x810/60191aad838b237810f914edd596db73e807eded.pnj);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}