.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: linear-gradient(#3c297b 0%, #a1773a 50%, #F0E494 100%);
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;

}